.container {
    max-width:400px;
    border: solid 1px #000000;
    border-radius:10px 10px 0px 0px;
  }

.header {
    background: #FF773E;
    border-radius:10px 10px 0px 0px;
    padding: 15px;
    font-size: 25px;
  }
