{% extends 'blog/base.html' %}
{% load static %}


{% block content %}
    <div class="background">
        <img src="{% static "blog/images/robot.png" %}" alt="robot" class="robot">
        <input type="text" class="nameform" name="name" >
        <input type="image" src="{% static "blog/images/arm.png" %}" alt="送信する" class="arm">
        <img src="{% static "blog/images/moji1.png" %}" alt="moji1" class="moji1 shake shake-slow shake-constant">
        <img src="{% static "blog/images/moji2.png" %}" alt="moji2" class="moji2 shake shake-slow shake-constant">
        <img src="{% static "blog/images/title.png" %}" alt="title" class="title">
    </div>
{% endblock %}
